#main{
    background-color: #191919;
    width: 80%;
    text-align: center;
    color: white;
}

p {
    font-size: 20px;
    font-weight: 250;
}

.imgBox {
    max-width: 700px;
    max-height: 500px;
}